@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body {
    z-index: 100 !important;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.supernova {
    display: none;
    background-color: #f9f9f9;
}

/* hide branding */

.form--gift--registry .jotform-form .branding21.formFooter {
    display: none !important;
    z-index: -1 !important;
    visibility: hidden;
}

.formFooter {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.formFooter-wrapper.formFooter-leftSide {
    z-index: -1;
    visibility: hidden;
}

.bg-light {
    background-color: #96184B !important;
}

.nav-link {
    color: #dee2e6;
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-link:hover {
    color: #dee2e6;
}
svg.bi.bi-gift {
    height: 1.5rem;
    width: 1.5rem;
    color: #dee2e6;
    margin-top: -5px;
}

@media screen and (max-width: 480px) {
    li[data-type=control_fullname] [data-wrapper-react=true] .form-sub-label-container {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        width: 100%;
    }
}

#gr_list ul.checklist .list-item:last-child span.items-left {
    visibility: hidden;
}

footer.footer {
    background: #96184B;
    text-align: center;
    padding: 0.5rem 1rem;
    color: #dee2e6;
}